/* General Info
---------------------------------------------------------------*/


/* Whole Doc
---------------------------------------------------------------*/
* {
    box-sizing: border-box;

    font-family: "Patrick Hand", Arial, Helvetica, sans-serif;
    letter-spacing: .1rem;

    color: #1c1363;

}

html {
    font-size: 62.5%;
    /*Rem= 10 px
        Ex. 
        5px = .5 rem
        20px =  2rem*/

    background-image: url(../assets/cat-background.jpg);
    background-size: 140%;
    background-size: repeat;
}

@media (max-width: 800px) {
    html {
        background-size: 200%;
        background-size: repeat;
    }
}

body {
    width: 99vw;
    margin: 0;

    font-size: 1.6rem;

    overflow-x: hidden;
}

h2 {
    color: #034903;
}

/* Navigation: 
---------------------------------------------------------------*/
.logo {
    display: flex;
    align-items: center;

}

.logo a img {
    width: 5rem;
    height: 5rem;
    
    margin-right: 1rem;
    margin-top: .5rem;
}

.logo h1 {
    margin: 0;
    margin-bottom: 1rem;
    color: #1c1363;

    font-family: "Jersey 10", sans-serif;
    font-size: 4rem;
    font-weight: 350;
    letter-spacing: .2rem;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #84c6ec;

}

/* Logo styling */
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 5rem;
    margin: 0;
}

/* Navigation links styling */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 .5rem;
}

.nav-links a {
    color: #1c1363;
    text-decoration: none;
    font-size: 2.3rem;
    transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
}

.nav-links a:hover,
.nav-links a.active {
    color: #e0e0e0;
    /* Lighter color for active/hover */
    background-color: #4a75b6;
    /* Darker green background on hover */
    border-radius: 1.5rem;
    /* Optional: rounded corners */
}

/* Menu toggle button for mobile view */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    background-color: #fff;
    height: .3rem;
    width: 3rem;
    margin: .5rem;
}

/* Responsive styling */
@media (max-width: 810px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100vw;
        position: absolute;
        top: 6rem;
        left: 0;
        background-color: #84c6ec;

        /* Green background for mobile view */
    }

    .nav-links a,
    .nav-links a:hover,
    .nav-links a.active {
        padding: 1rem 3rem;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1rem 0;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }
}

/*Footer
---------------------------------------------------------------*/
footer {
    /* position: fixed;
    bottom: 0; */
    width: 100vw;
    background-color: #84c6ec;
}

.foot-container {
    width: 100vw;

    padding: 2rem 5rem;
    margin: 0 auto;

    align-items: center;
    text-align: center;
}

footer h3 {
    margin: 0;

    font-weight: 500;
    font-size: 1.5rem;
}


.social-icon {
    width: 4rem;
}

/* Home Page
---------------------------------------------------------------*/
.splash {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 50rem;
    background-image: url(../assets/cat-splash.jpg);
    background-size: 150%;

    margin-top: 3rem;
}

@media (max-width:600px) {
    .splash {
        height: 40rem;
        background-size: 250%;
    }
}

.splash-content {
    width: 100vw;
    background-color: #2d4596d5;
    color: white;

    text-align: center;
    font-size: 150%;

    padding: 3rem 2rem;
}

.splash-content h1 {
    margin: 0rem;
    color: white;

    font-family: "Jersey 10", sans-serif;
    font-weight: 450;
    letter-spacing: .5rem;
    font-size: 600%;
}

.splash-content h2 {
    color: white;
}

@media (max-width: 650px) {
    .splash-content {
        font-size: 100%;
    }
}

.home-projects-container {
    display: flex;
    justify-content: center;

}

/* Homepage Fav Projects
---------------------------------------------------------------*/

@media (min-width: 900px) {
    .fav-projects {
        display: flex;
        justify-content: center;
    }

    .fav-box {
        width: 30%;
    }
}

.fav-box {
    margin: 1rem 1.5rem;
    margin-bottom: 3rem;
    padding: .5rem 1rem;

    background-color: #c0f1bb;
    border: .8rem solid #73b66c;
    border-radius: 2rem;

    text-align: center;
    color: #034903;
}

.fav-preview {
    margin: 3rem 2rem;

    text-align: center;
    cursor: pointer;
}

.fav-preview img {
    width: 100%;
    border: .5rem solid #73b66c;
    border-radius: 2rem;

}

.home-title {
    padding: 2rem;
    margin: 2rem;
    margin-top: 4rem;

    background-color: #4fa3469a;
    color: #034903;

    font-family: "Agbalumo", system-ui;
    letter-spacing: .2rem;
    text-align: center;
    font-size: 3.5rem;
}

.fav-popup {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 1, 73, 0.8);
    color: rgba(0, 1, 73, 0.8);

    visibility: hidden;
}

.fav-pop-box {
    position: absolute;
    border-radius: 2rem;
    background-color: #fff
}

@media (min-width: 1501px) {
    .fav-pop-box {
        width: 60vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

@media (max-width: 1500px) {

    .fav-pop-box {
        width: 90vw;
        top: 50%;
        left: 40%;
        transform: translate(-40%, -50%);
    }
}

.fav-close {
    padding: .5rem 1rem;

    border-radius: .3rem .3rem 0rem 0rem;
    background-color: #84c6ec;
    text-align: right;
}

.fav-close h1 {
    margin: 0;
    cursor: pointer;
}


@media (min-width: 600px) {
    .fav-pop-content {
        display: flex;
    }
}

.fav-pop-content {
    margin: 2rem 1.5rem;
}

.fav-pop-content img {
    width: 50%;
}

.fav-pop-text {
    margin: 0rem 2%;
    text-align: left;
}

/*Projects Page
---------------------------------------------------------------*/

.projects-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.pj-title {
    margin: 2rem 1rem 1rem 1rem;

    background-color: #4fa3469a;
    color: #034903;

    font-family: "Agbalumo", system-ui;
    letter-spacing: .2rem;
    text-align: center;

    padding: 1.5rem;
}

.pj-sect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 2rem;
    align-items: center;
}


.pj-box {
    box-sizing: border-box;
    margin: 1rem 1rem;

    background-color: #c0f1bb;
    border: .8rem solid #73b66c;
    border-radius: 2rem;

    text-align: center;
    color: #034903;
}

.pj-preview {
    text-align: center;
    cursor: pointer;
}

.pj-preview img {
    width: 40rem;
    border-bottom: .7rem solid #73b66c;
    border-radius: 1.2rem 1.2rem 0 0;
}

@media (max-width: 600px) {
    .pj-preview img {
        width: 35rem;
    }
}


@media (max-width: 570px) {
    .pj-preview img {
        width: 30rem;
    }
}

.pj-popup {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 1, 73, 0.8);
    color: rgba(0, 1, 73, 0.8);

    visibility: hidden;
}

.pj-pop-box {
    position: absolute;
    border-radius: 2rem;
    background-color: #fff
}

@media (min-width: 1501px) {
    .pj-pop-box {
        width: 60vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

@media (max-width: 1500px) {
    .pj-pop-box {
        width: 90vw;
        top: 50%;
        left: 40%;
        transform: translate(-40%, -50%);
    }
}

.pj-close {
    padding: .5rem 1rem;

    border-radius: .3rem .3rem 0rem 0rem;
    background-color: #84c6ec;
    text-align: right;
}

.pj-close h1 {
    margin: 0;

    cursor: pointer;
}


@media (min-width: 900px) {
    .pj-pop-content {
        display: flex;
    }
}

.pj-pop-content {
    margin: 2rem 1.5rem;
}

.pj-pop-content img {
    width: 50%;
}

.pj-pop-text {
    margin: 0rem 2%;
    text-align: left;
}

.pj-pop-btn {
    display: inline-block;

    padding: 1.5rem 5rem;
    border-radius: 2rem;

    background-color: #c0f1bb;
    color: #034903;

    text-decoration: none;
}

.pj-pop-btn:hover {
    background-color: #73b66c;
    color: white;
    transition: all .5s;
}

.pj-pop-content .pj-art {
    width: 70%;
    height: 70%;
}



/* About Page
---------------------------------------------------------------*/

#about {
    margin: 2rem 2rem;
}

.intro {
    padding: 3rem 2rem;
    background-image: url(../assets/cat-splash.jpg);
    background-size: 180%;

    margin-bottom: 2rem;
}

@media (min-width:700px) {
    .intro {
        display: flex;
        background-size: 120%;
    }

    .intro div {
        width: 50%;
    }
}

.intro-info {
    background-color: #ffffffe0;
    border-radius: 2rem;
    padding: 2.5rem;
    margin-left: 2rem;
}

.intro-info h1 {
    font-family: "Agbalumo", system-ui;
    letter-spacing: .2rem;
}

.intro-info p {
    font-size: 2.5rem;
}


.ab-cover-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro div {
    box-sizing: border-box;
}

.intro img {
    box-sizing: border-box;
    width: 100%;

    border-radius: 2rem;
    border: .8rem solid #305ea3;
}

.resume-btn {
    display: inline-block;

    padding: 1.5rem 3rem;
    border-radius: 2rem;

    background-color: #c0f1bb;
    color: #034903;

    text-decoration: none;
    font-size: 2.5rem;
}

.resume-btn:hover {
    background-color: #73b66c;
    color: white;
    transition: all .5s;
}

.ab-sect {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    background-color: #dbfcd8;
}

.ab-sect ul {
    list-style-type: '💚';
    margin-left: 5rem;
    margin-right: 1.5rem;

    font-size: 2rem;
}


.ab-title {
    margin: 0;
    padding: 1rem 2rem;
    border-radius: 2rem 2rem 0 0rem;
    background-color: #84c6ec;

    font-family: "Agbalumo", system-ui;
    letter-spacing: .2rem;
    font-size: 3rem;

}

.ab-ed {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 1rem 3rem;
    background-color: #c0f1bb;
}

.ab-ed h2 {
    margin: .7rem 3rem;
}

@media (max-width: 600px) {
    .ab-ed {
        display: block;
    }

    .ab-ed h2 {
        margin: .5rem;
        font-size: 98%;
    }

    .ab-date {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 500;
    }
}

/* Ab
---------------------------------------------------------------*/
/* Ab
---------------------------------------------------------------*/
/* Ab
---------------------------------------------------------------*/
/* Ab
---------------------------------------------------------------*/